<div id="uplink">
    {%if network %}
    <a href="{%url webuguu.vfs.views.network network %}">Up</a><br>
    {% else %}
    <a href="..">Up</a><br>
    {% endif %}
</div>
<br>
<div id="filelist">
    <table>
        <tr>
            <td> file </td>
            <td> size </td> 
        </tr>
        {% for file in files %}
        <tr>
            {% if file.0 %}
            <td> <a href = "{{ file.2 }}"> {{ file.2 }} </a></td>
            {% else %}
            <td> {{ file.2 }} </td>
            {% endif %}
            <td> {{ file.1|filesizeformat }} </td> 
        </tr>
        {% endfor %}
    </table>
</div>
