{% extends "general.html" %}
{% block htmltitle %}List of shares{% endblock %}
{% block htmlbody %}
{% if ishost %}
    <div class="margintop" id="title">List of shares at host <span class="shareholder">{{name}}</span></div>
    <div class="margintop"><a class="share" href="{%url webuguu.vfs.views.network shares.0.network %}">go up</a></div>
{% else %}
    <div class="margintop" id="title">List of shares in network <span class="shareholder">{{name}}</span></div>
    <div class="margintop"><a class="share" href="{%url webuguu.vfs.views.net %}">go up</a></div>
{% endif %}
<table>
    {% block sharelist %}
    {% for s in shares %}
    <tr>
        <td><span class="rownum">{{forloop.counter}}.</span></td>
        <td><span class="state" id="{{s.state}}">{{s.state}}</span></td>
        <td><span class="filesize">{{s.size|filesizeformat}}</span></td> 
        <td class="file"><a class="share" href = "{%url webuguu.vfs.views.share s.protocol, s.hostname, s.port %}?s={{s.share_id}}&p=1"> {{s.protocol}}://{{s.hostname}}{% if s.port %}:{{s.port}}{% endif %}</a></td> 
    </tr>
    {% endfor %}
    {% endblock %}
</table>
{% include "gobar.html" %}
{% endblock %}
