Listing of <a href="{{protocol}}://{{hostname}}/{{path}}">{{protocol}}://{{hostname}}/{{path}}</a>
<br>
<br>
<div id="uplink">
    <a href="..">Up</a><br>
</div>
<br>
<div id="filelist">
    <table>
        <tr>
            <td> file </td>
            <td> size </td> 
        </tr>
        {% for f in files %}
        <tr>
            {% if f.dirid %}
            <td> <a href = "{{ f.name }}"> {{ f.name }} </a></td>
            {% else %}
            <td> {{ f.name }} </td>
            {% endif %}
            <td> {{ f.size|filesizeformat }} </td> 
        </tr>
        {% endfor %}
    </table>
</div>
