{% extends "general.html" %}
{% block htmltitle %}Uguu FAQ{% endblock %}
{% block htmlbody %}
<ul>
    <li>
        <p class="faqq">Q: У меня есть FTP-сервер, как мне его добавить
        в базу поисковика?</p>
        <p class="faqa">A: Если ваш сервер забинден на стандартный для
        протокола FTP порт 21, то никаких действий предпринимать не нужно,
        он будет добавлен в базу автоматически. Если сервер использует
        нестандартный порт, или не поддерживает анонимное соединение,
        обратитесь к администратору поисковика, никакой формы для добавления
        нет.
        </p>
    </li>
    <li>
        <p class="faqq">Q: Как-нибудь можно заставить поисковик меня
        пересканировать?</p>
        <p class="faqa">A: Нет. Сканирования происходят с заданной
        периодичностью, причём для тех шар, которые давно не были просканены,
        этот интервал меньше. Если всегда, когда доходит ваша очередь, вы
        в оффлайне, то видимо вам это и не нужно.
        </p>
    </li>
    <li>
        <p class="faqq">Q: Мой компьютер постоянно онлайн. Почему в
        последний раз сканировался так давно?</p>
        <p class="faqa">A: Возможно какние-то проблемы с соединением.
        Обратитесь к администратору поисковика.
        </p>
    </li>
    <li>
        <p class="faqq">Q: Как можно узнать IP адрес хоста, который
        показывает поисковик?</p>
        <p class="faqa">A: Для того, чтобы подстроиться под сети, в которых
        IP адрес не является постоянным (в отличие от имени хоста), было
        решено не хранить IP адрес в базе вообще. Если вы не можете связаться
        с хостом по его имени, обратитесь к администратору вашей сети.
        </p>
    </li>
    <li>
        <p class="faqq">Q: Есть ли возможность расширенного поиска?</p>
        <p class="faqa">A: Да, такая функциональность имеется и поддерживается
        на уровне запросов. В поле для ввода поискового запроса можно
        дополнительные опции, которые выглядят как <b>option:argumet</b>.
        Ниже идет список возможных опций с описаниями:</p>
        <ul>
        {% for o in options %}
            <li>
                <p class="faqq"><b>{{o.option}}</b> Возможные значения
                аргумента: {{o.args|safe}}</p>
                <p class="faqa">{{o.desc|safe}}</p>
            </li>
        {% endfor %}
        </ul>
        <p>Например, запрос &quot;искать в полном пути, содержащем слова
        joe hisaishi музыкальные и видео файлы, а также директории размера
        не меньше 345 c половиной мегабайт на доступных шарах в сетях
        official и snto, использующие протокол smb (windows share) и
        отсортировать результат первично по имени хоста, вторично по
        типу файла, третично по размеру&quot; будет записан так:</p>
        <p style="font-family: monospace; padding-left: 1em;">
        joe hisaishi full:yes type:video,audio,dir
        min:345.5mb avl:online net:official,snto proto:smb
        order:host,type,size</p>
    </li>
    <li>
        <p class="faqq">Q: Могу ли я запустить такой же поисковик у себя?</p>
        <p class="faqa">A: Да, движок поисковика распространяется на
        условиях BSD лицензии, которая разрешает использование, изменение
        и распространение без необходимости спрашивать у авторов на это
        разрешение. Подробнее с условиями лицензии, а также скачать
        дистрибутив, вы можете ознакомиться на сайте проэкта:
        <a href="{{gpage}}">{{gpage}}</a>.
        Если у вас возникли вопросы, можете задать их в гуглогруппе,
        посвящённой проэкту: <a href="{{ggroup}}">{{ggroup}}</a>.
        </p>
    </li>
</ul>
{% endblock %}
