{% if gobar.nontrivial %}
<div class="margintop" id="gobar">
    <table class="gobar"><tr>
        <td>Page {{gobar.first|add:1}} of {{gobar.last|add:1}}<td>
        <td><a class="gobar" href="{{fastself}}&o={{gobar.first}}">first</a></td>
        {% if gobar.prev %}<td><a class="gobar" href="{{fastself}}&o={{gobar.prev}}">prev</a></td>{% endif %}
        {% for g in gobar.before %}<td><a class="gobar" href="{{fastself}}&o={{g}}">{{g|add:1}}</a></td>{% endfor %}
        <td>{{gobar.self|add:1}}</td>
        {% for g in gobar.after %}<td><a class="gobar" href="{{fastself}}&o={{g}}">{{g|add:1}}</a></td>{% endfor %}
        {% if gobar.next %}<td><a class="gobar" href="{{fastself}}&o={{gobar.next}}">next</a></td>{% endif %}
        <td><a class="gobar" href="{{fastself}}&o={{gobar.last}}">last</a></td>
    </tr></table>
</div>
{% endif %}

