<table class="topinfo"><tr>    
    <td><a class="solid" href="{% url webuguu.search.views.search %}">search</a></td>
    <td><a class="solid" href="{% url webuguu.search.views.light %}">light</a></td>
    <td><a class="solid" href="{% url webuguu.vfs.views.net %}">vfs</a></td>
    <td><a class="solid" href="{% url webuguu.rss.views.list %}">rss</a></td>
    <td><a class="solid" href="{% url webuguu.faq.views.ru %}">faq</a></td>
    <td></td>
    <td><span class="antipirate">WE DO NOT CONDONE PIRACY. This site is running for research purpose only. IF YOU ARE LOOKING FOR A COPYRIGHTED MATERIAL PLEASE LEAVE THIS SITE IMMEDIATELY.</span></td>
</tr></table>
